{% extends 'common/base.html' %}
{% block content %}
    <p>
        This is PageRank algorithm!
    </p>
    <form action="{% url 'pagerank:main' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">leave a request for pagerank calculation</button>
    </form>
    {% if alert != 'False' %}
    <div class="alert alert-primary" role="alert">
        {{ alert }}
    </div>
    {% endif %}




{% endblock %}