{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'common/css/bootstrap.min.css' %}">
    <script
            src="{% static 'common/js/bootstrap.bundle.min.js' %}"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'common:main' %}">
            Главная
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'webcrawlerbloggersad:main' %}">Статистика
                        по рекламе на канале Itпедия</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'pagerank:main' %}">Page
                        Rank</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="main" class="container">
    <div>
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>