{% extends 'common/base.html' %}
{% block content %}
    <style>
        body {
            margin: 0;            /* Reset default margin */
        }
        iframe {
            display: block;       /* iframes are inline by default */
            background: #000;
            border: none;         /* Reset default border */
            height: 100vh;        /* Viewport-relative units */
            width: 100%;
        }
    </style>
    {% for link in iframes_urls %}
        <iframe height="100%" width="100%"
                src="{{ link }}?_embedded=1&_theme=dark"></iframe>
        <br>
    {% endfor %}
{% endblock %}